/* styles go here */

.form__part {
  margin-top: 20px;
}

.form__part:first-child {
  margin-top: 0;
}

.form__item {
  display: block;
  padding-bottom: 10px;
}

.form__item:last-child {
  padding-bottom: 0;
}
